.header{
    width: 100%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    height: 80px;
display: flex;
    margin-top: 24px;

}
main{
    display: flex;
    justify-content: center;
}
.header > div {
    /* margin: auto; */
    justify-content: center;

    align-items: center;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #e2e2e2 !important;

}

.header > div > svg {
    height: 100%;
    width: 60px;
}

.ais-SearchBox-input{
  border-radius: unset !important;
    padding-left: 10px !important;
}
.ais-SearchBox-form::before{
display: none !important;
 }
.ais-SearchBox{
    border: none !important;
    /*border-bottom: 1px solid #e2e2e2 !important;*/
    box-shadow: unset !important;
    height: 100% !important;
}
.ais-SearchBox-form{
    height: 100% !important;
}

.ais-SearchBox-input{
    border: none !important;
    /*border-bottom: 1px solid #e2e2e2 !important;*/
    box-shadow: unset !important;
    font-size: 62px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 62.3px;
    text-transform: capitalize;
    height: 100% !important;
}